{% extends 'layout_2.html' %}
<!---->

{% block content %}

<div class="container my-5">
  <h2 class="common__header">Doctors Directory</h2>

  <div class="row">
    {% if doctors %}
    <!-- -->
    {% for doctor in doctors %}

    <div class="col-md-4">
      <div class="common__card">
        <h3>{{ doctor.name }}</h3>

        <div class="card__content">
          <p class="card__text">NPI: <span>{{ doctor.npi }}</span></p>

          <p class="card__text">
            Specialties: <span>{{ doctor.specialties|join:", " }}</span>
          </p>

          <p class="card__text">
            Affiliated Clinics: <span>{{ doctor.num_clinics }}</span>
          </p>

          <p class="card__text">
            Affiliated Patients: <span>{{ doctor.num_patients }}</span>
          </p>

          <a href="{% url 'doctor' doctor.pk %}" class="btn__view"
            >View Details</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
    <!---->

    {% else %}
    <div class="col-12 text-center py-4">
      <p>No Doctors Found</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
