{% extends 'layout_2.html' %}
<!---->

{% block content %}

<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-5">
        <div class="card-body">
          <h3 class="card-title">{{ patient.name }}</h3>

          <div class="mb-3">
            <p class="card-text">
              Date of Birth:
              <span class="fw-bold">{{ patient.date_of_birth }}</span>
            </p>
            <p class="card-text">
              Address: <span class="fw-bold">{{ patient.address }}</span>
            </p>
            <p class="card-text">
              Phone Number:
              <span class="fw-bold">{{ patient.phone_number }}</span>
            </p>
            <p class="card-text">
              Last 4 Digits of SSN:
              <span class="fw-bold">{{ patient.last_4_ssn }}</span>
            </p>
            <p class="card-text">
              Gender: <span class="fw-bold">{{ patient.gender }}</span>
            </p>
          </div>

          <form
            method="post"
            class="mb-3 form__inputs"
            onsubmit="return confirmSave()"
          >
            {% csrf_token %} {{ form.as_p }}
            <button
              type="submit"
              name="save_patient"
              class="btn__view btn__expand"
            >
              Save Patient
            </button>
          </form>
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-body">
          <h4 class="card-title">Add New Visit</h4>
          <form method="post" class="form__inputs">
            {% csrf_token %}
            <!---->
            {{ visit_form.as_p }}
            <button
              type="submit"
              name="add_visit"
              class="btn__view btn__expand"
            >
              Add Visit
            </button>
          </form>
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-body">
          <h4 class="card-title">Schedule Appointment</h4>

          <form method="post" class="form__inputs">
            {% csrf_token %}
            <!---->
            {{ appointment_form.as_p }}

            <button
              type="submit"
              name="add_appointment"
              class="btn__view btn__expand"
            >
              Schedule Appointment
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-5">
        <div class="card-body">
          <h4 class="card-title">Recent Visits</h4>
          {% if patient.visits.all %}
          <ul class="list-unstyled">
            {% for visit in patient.visits.all %}
            <li>
              {{ visit.visit_date }}
              <!-- -->
              -
              <!-- -->
              {{ visit.procedures_done }}
              <!-- -->
              by Dr.
              <!-- -->
              {{ visit.doctor.name }}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No Recent Visits Found</p>
          {% endif %}
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-body">
          <h4 class="card-title">Appointments</h4>

          {% if next_appointment %}
          <div class="mb-4">
            <h4 class="text-secondary mb-3">Next Appointment</h4>
            <p>
              <strong>Date & Time:</strong>
              <!---->
              {{ next_appointment.appointment_date }}
            </p>
            <p><strong>Clinic:</strong> {{ next_appointment.clinic.name }}</p>
            <p>
              <strong>Doctor:</strong> Dr.
              <!---->
              {{ next_appointment.doctor.name }}
            </p>
            <p><strong>Procedure:</strong> {{ next_appointment.procedure }}</p>
            <p>
              <strong>Date Booked:</strong> {{ next_appointment.date_booked }}
            </p>
          </div>
          {% else %}
          <p>No upcoming appointment scheduled.</p>
          {% endif %}
          <!---->

          {% if upcoming_appointments %}
          <h4 class="text-secondary">All Upcoming Appointments</h4>
          <ul class="list-unstyled">
            {% for appointment in upcoming_appointments %}
            <li>
              Appointment on
              <!----->
              {{ appointment.appointment_date }}
              <!----->

              for {{ appointment.procedure }}
              <!----->

              with Dr.
              <!----->
              {{ appointment.doctor.name }}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No upcoming appointments found.</p>
          {% endif %}
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-body">
          <h4 class="card-title">Patient Visits</h4>
          {% if visits %}
          <ul class="list-unstyled mb-4">
            {% for visit in visits %}
            <li>
              {{ visit.visit_date }}
              <!-- -->
              -
              <!-- -->
              {{ visit.procedures_done }}
              <!-- -->
              by Dr.
              <!-- -->
              {{ visit.doctor.name }}
              <!-- -->
              at
              <!-- -->
              {{ visit.clinic.name }}
              <!-- -->
              <br />
              Doctor's Notes: {{ visit.doctor_notes }}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No Visits Found</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
