.common__header {
  color: var(--color-secondary);
  font-size: 3.2rem !important;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3rem;
}

.common__card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: var(--color-background);
  padding: 4rem 3rem;
  margin-bottom: 3rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.common__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.card__text__layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.common__card h3 {
  color: var(--color-secondary);
  font-weight: 500;
  margin-bottom: 2.5rem;
  text-align: center;
}

.common__card p {
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}

.common__card p span {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 1.4rem;
}

.btn__view {
  background: var(--gradient-primary);
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 0;
  border-radius: 0.4rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 1rem 0;
}

.btn__view:hover {
  color: #1cb5e0;
}
