{% extends 'layout_2.html' %}
<!---->
{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <!-- ?Clinic Information -->
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">{{ clinic.name }}</h3>

          <div>
            <p class="card-text">
              Address: <span class="fw-bold">{{ clinic.address }}</span>
            </p>
            <p class="card-text">
              Phone: <span class="fw-bold">{{ clinic.phone_number }}</span>
            </p>
            <p class="card-text">
              Email: <span class="fw-bold">{{ clinic.email }}</span>
            </p>
          </div>

          <form
            method="post"
            class="mb-3 form__inputs"
            onsubmit="return confirmSave()"
          >
            {% csrf_token %} {{ form.as_p }}
            <button
              type="submit"
              name="clinic_form"
              class="btn__view btn__expand"
            >
              Save
            </button>
          </form>
        </div>
      </div>

      <!-- ?Add Doctor Affiliation -->
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Add Doctor Affiliation</h4>
          <form
            method="post"
            class="mb-3 form__inputs"
            onsubmit="return confirmSave()"
          >
            {% csrf_token %}
            <div class="mb-3">
              {{ affiliation_form.doctor.label_tag }}
              <!---->
              {{ affiliation_form.doctor }}
            </div>
            <div class="mb-3">
              {{ affiliation_form.clinic.label_tag }}
              <!---->
              {{ affiliation_form.clinic }}
            </div>
            <div class="mb-3">
              {{ affiliation_form.office_address.label_tag }}
              <!---->
              {{ affiliation_form.office_address }}
            </div>
            <div class="mb-3">
              {{ affiliation_form.working_days.label_tag }}
              <div class="specialties-container">
                {{ affiliation_form.working_days }}
              </div>
            </div>

            <div class="mb-3">
              {{ affiliation_form.start_time.label_tag }}
              <!---->
              {{ affiliation_form.start_time }}
            </div>

            <div class="mb-3">
              {{ affiliation_form.end_time.label_tag }}
              <!---->
              {{ affiliation_form.end_time }}
            </div>

            <button
              type="submit"
              name="affiliation_form"
              class="btn__view btn__expand"
            >
              Add Affiliation
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- ?Sidebar Content -->
    <div class="col-md-4">
      <!-- ?Affiliated Patients -->
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Affiliated Patients</h4>
          {% if patients %}
          <ul class="list-unstyled">
            {% for patient in patients %}
            <li>{{ patient.name }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No Patients Found</p>
          {% endif %}
        </div>
      </div>

      <!-- ?Affiliated Doctor -->
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Affiliated Doctors</h4>
          {% if affiliations %}
          <ul class="list-unstyled">
            {% for affiliation in affiliations %}
            <li>
              <strong>{{ affiliation.doctor.name }}</strong><br />
              Office Address: {{ affiliation.office_address }}<br />
              Working Days:
              <!---->
              {{ affiliation.working_days|join:", " }}<br />
              <!---->
              Start Time: {{ affiliation.start_time|time:"H:i" }}<br />
              End Time: {{ affiliation.end_time|time:"H:i" }}<br />
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No affiliated doctors found.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
