{% load static %}
<!---->
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bright Smile</title>
    {% bootstrap_css %}
    <link
      rel="icon"
      href="{% static 'imgs/dentist-tooth-svgrepo-com.svg' %}"
      type="image/svg+xml"
    />
    <link rel="stylesheet" href="{% static 'css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <main>{% block content %}{% endblock %}</main>

    {% bootstrap_javascript %}
  </body>
</html>
