{% load static %}

<header>
  <nav
    class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top transparent__navbar"
  >
    <div class="container">
      <div class="navbar-brand">
        <img
          src="{% static 'imgs/dentist-tooth-svgrepo-com.svg' %}"
          alt="teeth logo"
        />
        <h2>Bright Smile</h2>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li
            class="nav-item {% if '/clinics' in request.path %}custom-active{% endif %}"
          >
            <a href="{% url 'clinics' %}" class="nav-link">🏥 Clinics</a>
          </li>
          <li
            class="nav-item {% if '/doctors' in request.path %}custom-active{% endif %}"
          >
            <a href="{% url 'doctors' %}" class="nav-link">👨‍⚕️ Doctors</a>
          </li>
          <li
            class="nav-item {% if '/patients' in request.path %}custom-active{% endif %}"
          >
            <a href="{% url 'patients' %}" class="nav-link">👤 Patients</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
